{{!-- INDEX --}}
<br>
<div class="row">
  <div class="col s8 m6 l6 black white-text">
    <table class="highlight">
      <thead>
        <tr>
          <th>Coin</th>
          <th>Holdings</th>
          <th>Price</th>
          <th>24hr Change</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
          <td>2%</td>
        </tr>
        <tr>
          <td>Alan</td>
          <td>Jellybean</td>
          <td>$3.76</td>
          <td>-4%</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td>Lollipop</td>
          <td>$7.00</td>
          <td>+5%</td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
</div>