{{!-- LOGIN --}}
<h1 class="center-align fadeInDown white-text"><span class="green-letter">S</span>ign In</h1>

<div class="row black white-text fadeInUp">
  <div>
    <h3 class="center-align">Enter your login credentials below</h3>
  </div>
  <form action="/users/login" method="post">
    <div class="col s12">
      <input type="text" name="username" id="username" placeholder="Username" required>
    </div>
    <div class="col s12">
      <input type="password" name="password" id="password" placeholder="Password" required>
       <br><br>
    </div>
    <div class="center-align">
      <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">send</i>Sign In</button>
    </div>
  </form>
</div>